.input {
  padding: 25px 15px 15px 15px;
  font-size: 15px;
  border-radius: 8px;
  outline: none;
  background-color: transparent;
  border-width: 1px;
  transition: border-color 0.15s, border-width 0.15s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.input-container {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}

.input-container label {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 15px;
  transition: 0.3s ease all;
  pointer-events: none;
}

.input:focus {
  border-color: #007bff;
  border-width: 2px;
}

.input:focus + label,
.input:not(:placeholder-shown) + label {
  top: 15px;
  font-size: 13px;
}
